# data / outputs
data/
outputs/
settings.txt
models/

# notebooks cache
.ipynb_checkpoints/

# python cache
__pycache__/
*.pyc

# virtualenv
.venv/
venv/
.env

# model artifacts
*.pt
*.pth
*.ckpt
*.onnx
*.h5
*.pkl

# mac
.DS_Store

